
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */

/* bottom-right blue box */
#one {
    position: fixed;
    border: 5px solid blue;
    margin: 5px;
    padding: 5px;
    width: 25%;
    bottom: 0;
    right: 0;
}

/* top-right green box */
#two {
    position: fixed;
    border: 5px solid green;
    margin: 5px;
    padding: 5px;
    width: 25%;
    top: 0;
    right: 0;
}

/* top-left orange box */
#three {
    position: fixed;
    border: 5px solid orange;
    margin: 5px;
    padding: 5px;
    width: 25%;
    top: 0;
    left: 0;

}


/* botton-left yellow box */
#four {
    position: fixed;
    border: 5px solid yellow;
    margin: 5px;
    padding: 5px;
    width: 25%;
    bottom: 0;
    left: 0;
}


#link{
    margin:auto;
    font-size:18px;
    text-align:center;
    width:fit-content;
    top:10px;
    background-color:#0a4630;

}

a {
    color:white;
    text-decoration:none;
}


